.container{
  width: 300px;
  border: 2px solid grey;
  padding: 15px;
  box-shadow: 10px 10px 5px lightgrey;
  border-radius: 30px;
  background-color: rgb(217,237,247);
}
h3 {
  text-align: center;
  font-size: 25px;
}
.interesting_fact{
  font-style: italic;
}
span {
  font-weight: bold;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.border_facts{
  border: 2px solid lightgrey;
  padding: 10px;
  margin: 8px;
  border-radius: 30px;
}
img {
  border:1px solid lightgrey;
}